* {
  box-sizing: border-box;
  /* font-family: 'Lora'; */
}

.comments-list, .post-list {
  padding: 0;
  margin: 0;
}

.post-container, .comment {
  list-style: none;
}

main {
  margin-top: 95px;
}

.button-container ul {
  display: flex;
  flex-direction: row-reverse;
  align-self: center;
  margin: 5px;
}

#title {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#content, #sampleeditor {
  font-family: Georgia, 'Times New Roman', Times, serif;
}