* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

main {
  margin-top: 95px;
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
  align-self: center;
  margin: 5px;
}