#registration-container {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

#registration-form {
  display: flex;
  flex-direction: column;
}