.post-container {
  text-decoration: none;
  color: black;
  height: 135px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 0px 10px lightgray;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 400px;
  transition: transform 200ms, box-shadow 200ms; 
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 2;
  height: 100%;
  width: 70%;
  flex-grow: 1;
}

.post-container:hover, .post-container:focus{
  box-shadow: 5px 5px 15px lightgray;
  transform: scale(1.1);
}

.post-container .postTitle {
  font-size: 18px;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postImg {
  object-fit: cover;
  border-radius: 10px 0 0 10px;
  width: 32%;
  height: 100%;
}

.date-p {
  margin: 0;
}
.date-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%
}

.postTitle {
  margin-bottom: 5px;
  padding: 0 10px
}