.account-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userImg {
  border: 1px solid black;
  width: 150px;
  height: auto;
  border-radius: 75px;
}

.delete {
  background-color: red;
}