header {
  width: 100%;
  height: 50px;
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 2px solid black;
  background-color: lightgray;
}

.hiddenMenu {
  position: fixed;
  z-index: 2;
  top: -150px;
  transition: top 0.5s;
  display: flex;
  flex-direction: column;
  background-color:gray;
}

.hiddenMenu.show {
  top: 50px
}